<ion-header>
  <ion-toolbar>
    <ion-title>Locations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="location-card">
          <ion-img src="assets/tokyoCity.jpg" alt="Tokyo City"></ion-img>
          <ion-card-header>
            <ion-card-title>Tokyo City</ion-card-title>
            <ion-card-subtitle>Japan</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Ticket Price: $50</p>
            <p>Date: March 15, 2023</p>
            <p>Seats Available: 20</p>
            <ion-button ion-button color="primary">Book</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col> <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="location-card">
          <ion-img src="assets/italyBeach.jpg" alt="Italy Beach"></ion-img>
          <ion-card-header>
            <ion-card-title>Sardina Beach</ion-card-title>
            <ion-card-subtitle>Italy</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Ticket Price: $75</p>
            <p>Date: June 25, 2023</p>
            <p>Seats Available: 15</p>
            <ion-button ion-button color="primary">Book</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="location-card">
          <ion-img src="assets/himalayaMountain.jpg" alt="Himalaya Mountain"></ion-img>
          <ion-card-header>
            <ion-card-title>Himalaya Mountain</ion-card-title>
            <ion-card-subtitle>Nepal</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Ticket Price: $100</p>
            <p>Date: September 1, 2023</p>
            <p>Seats Available: 10</p>
            <ion-button ion-button color="primary">Book</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="location-card">
          <ion-img src="assets/baalbakImage.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Balbak Anjar</ion-card-title>
            <ion-card-subtitle>Lebanon</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Ticket Price: $50</p>
            <p>Date: June 18, 2023</p>
            <p>
              Seats Available: 20</p>
              <ion-button ion-button color="primary">Book</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="location-card">
            <ion-img src="assets/batrounNature.jpg" alt="Batroun Nature"></ion-img>
            <ion-card-header>
              <ion-card-title>Batroun</ion-card-title>
              <ion-card-subtitle>Lebanon</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>Ticket Price: $30</p>
              <p>Date: May 1, 2023</p>
              <p>Seats Available: 50</p>
              <ion-button ion-button color="primary">Book</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <!-- Beirut -->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="location-card">
          <ion-img src="assets/beirutImage.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Beirut Raouche</ion-card-title>
            <ion-card-subtitle>Lebanon</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Ticket Price: $20</p>
            <p>Date: July 15, 2023</p>
            <p>Seats Available: 30</p>
            <ion-button ion-button color="primary">Book</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>