<ion-header>
  <ion-toolbar>
    <ion-title>Travel App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-slides pager="true" [options]="slideOpts" style="width: 100%">
    <ion-slide>
      <img src="assets/background0.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/background0.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/background0.jpg">
    </ion-slide>
  </ion-slides> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Categories</ion-card-title>
    </ion-card-header>
    <ion-row class="popular-destinations">
      <ion-col size="6" size-md="3">
        <ion-card class="ion-text-center">
          <ion-img src="assets/italyBeach.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Beach</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-img src="assets/tokyoCity.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>City</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-img src="assets/batrounNature.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Nature</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-img src="assets/mountain.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Mountain</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>




  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="trending-now">
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <ion-img src="assets/background0.jpg"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="assets/background0.jpg"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="assets/background0.jpg"></ion-img>
            </ion-slide>
          </ion-slides>
          <ion-card-header>
            <ion-card-title>Popular Destinations</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Explore the latest travel trends and hotspots.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="trending-now">
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <ion-img src="assets/background0.jpg"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="assets/background0.jpg"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="assets/background0.jpg"></ion-img>
            </ion-slide>
          </ion-slides>
          <ion-card-header>
            <ion-card-title>Trending Now</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Explore the latest travel trends and hotspots.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




<!-- 
  <ion-card>
    <img src="https://placeimg.com/640/480/tech">
    <ion-card-header>
      <ion-card-title>Deals of the Day</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Find the best travel deals and discounts for your next trip.
    </ion-card-content>
  </ion-card> -->
</ion-content>