ion-content {
    --background: url('/../assets/background3.jpg') no-repeat center center fixed;

}
ion-card-title {
    background-color: darkblue;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  

ion-slides {
    height: 100%;
    width: 100%;
}

ion-card {
    margin-top: 16px;
    background-color: white;
}

ion-card img {
    height: 180px;
    object-fit: cover;
}

ion-card-title {
    font-weight: bold;
    color: white;
}

ion-card-content {
    font-size: 14px;
}

.popular-destinations ion-card {
    margin-right: 0;
}

.popular-destinations ion-card:last-child {
    margin-right: 0;
}

.popular-destinations ion-img {
    height: 200px;
    object-fit: cover;
}

.popular-destinations ion-col {
    margin: 0;
}

.popular-destinations ion-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
    text-align: center;
}

.popular-destinations ion-card-header {
    padding: 0;
}

.popular-destinations ion-card-header ion-card-subtitle {
    color: var(--ion-color-medium-tint);
    font-size: 14px;
    margin-top: 4px;
}

.popular-destinations ion-card-header ion-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
}